 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: hsl(257, 40%, 49%);
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .wrapper {
        background-image: url(images/bg-desktop.svg);
        background-image: url(images/bg-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        gap: 3rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        /*
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3em;
    height: 100vh;
    width: 100%;
   
    gap: 3rem;
    */
    }
    
    .cl-wrapper {
        margin-bottom: 7rem;
    }
    
    .img-one {
        margin-bottom: 3rem;
    }
    
    .cr-wrapper {
        font-size: 18px;
        margin-top: 4rem;
    }
    
    .cr-heading {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        width: 30%;
        margin-bottom: 2rem;
    }
    
    .cr-paragraph {
        font-family: 'Open Sans', sans-serif;
        width: 40%;
        color: #ebe6e6;
    }
    
    button {
        border: none;
        border-radius: 20px;
        background-color: #fff;
        text-transform: uppercase;
        padding: 0.8rem 4rem;
        margin-top: 2rem;
        font-size: 1.1rem;
        font-family: inherit;
        color: hsl(257, 40%, 49%);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }
    
    button:hover {
        background-color: hsl(300, 69%, 71%);
        color: #fff;
        cursor: pointer;
        box-shadow: 20px 20px 50px grey;
    }
    
    .cr-icon {
        margin-top: 6rem;
        margin-left: 25rem;
    }
    
    span {
        font-size: 1.5rem;
        color: #fff;
    }
    
    span:hover {
        color: hsl(300, 69%, 71%);
    }
    
    @media(max-width:375px) {
        .wrapper {
            flex-direction: row;
        }
        @media (min-width:520px) {
            .wrapper {
                display: flex;
                font-size: 17px;
                width: 60%;
            }
        }
        @media(max-width:514px) {
            .wrapper {
                display: flex;
                flex-wrap: wrap;
            }
        }
        @media (min-width:1440px) {
            main {
                display: flex;
                flex-direction: row;
            }
        } 
